# Ignore virtual env & tmp folder & # dagster_home folders
###################
**/*venv*/
**/*__pycache__*/**
**/.ipynb_checkpoints/
**/*tmp*/**
**/*temp_*/**
dagster_home/

# Ignore  huge & intermediate & ml files#
###################
**/bso_*/01_raw/**/
!**/bso_*/01_raw/**/.gitkeep
app/bso_theses/01_raw/
!app/bso_theses/01_raw/.gitkeep
**/bso_*/02_intermediate/
!**/bso_*02_intermediate/.gitkeep
app/bso_publis_scopus/05_model_input/
!app/bso_publis_scopus/05_model_input/.gitkeep
app/bso_publis_scopus/06_models/logmodel.*
!app/bso_publis_scopus/06_models/.gitkeep


# Ignore docelec files
###################
app/docelec_signalement/**/01_raw/
!app/docelec_signalement/**/01_raw/.gitkeep
app/docelec_signalement/**/02_intermediate/
!app/docelec_signalement/**/02_intermediate/.gitkeep
app/docelec_signalement/**/03_primary/
!app/docelec_signalement/**/03_primary/.gitkeep

# Ignore windows batch files
###################
*.bat