# Ignore virtual env & tmp folder & # dagster_home folders
###################
**/*venv*/
**/*__pycache__*/**
**/.ipynb_checkpoints/
**/*tmp*/**
**/*temp_*/**
dagster_home/

# Ignore dagster config files (even unused)
###################
.env
dagster_postgres.yaml
docker-compose.yml

# Ignore  huge & intermediate & ml files#
###################
app/bso_theses/01_raw/theses-soutenues.csv
/**/*.db
/**/*.sqlite
/**/*.xml
/**/*.json

# Ignore windows batch files
###################
*.bat